bin/
obj/
**/GeneratedFiles/
*.cache/
*.tlog

.vs/
.idea/
.Rider*/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

TestResults/
*.trx
*.coverage*
.coverage
.nuget/packages/

*.log
*.tmp
*.temp

.DS_Store
Thumbs.db

*.db
*.db-shm
*.db-wal

node_modules/
dist/
wwwroot/lib/

packages/
