@{
    ViewData["Title"] = "Home Page";
}
<form asp-controller="">
<input type="date" id="dateInput" name="selectedDate" />
<input type="time" id="startTime" step="900" name="selectedStartTime"/>
<input type="time" id="endTime" step="900" name="selectedEndTime"/>
<button type="button" id="select" name="select">Submit</button>
</form>
